.grp-object-tools li a {
  background: linear-gradient(#999999,#000000);
}	

.grp-object-tools li.guide a {
  display: block;
  padding: 4px 15px;
  font-weight: bold;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  border: 1px solid #777;
  opacity: .8;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5OTk5OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg4ODg4OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fb2d3), color-stop(100%, #309bbf));
  background: -webkit-linear-gradient(#4fb2d3,#309bbf);
  background: -moz-linear-gradient(#4fb2d3,#309bbf);
  background: -o-linear-gradient(#4fb2d3,#309bbf);
  background: linear-gradient(#4fb2d3,#309bbf)
}
.grp-object-tools li.guide a.grp-state-focus {
  opacity: 1
}
.grp-object-tools li.guide a:hover {
  opacity: 1 !important;
  border: 1px solid #2987a6 !important;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2YjBkOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMwOWJiZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #36b0d9), color-stop(100%, #309bbf));
  background: -webkit-linear-gradient(#36b0d9,#309bbf);
  background: -moz-linear-gradient(#36b0d9,#309bbf);
  background: -o-linear-gradient(#36b0d9,#309bbf);
  background: linear-gradient(#36b0d9,#309bbf)
}

.ui-progressbar-value {
  background-color: #4fb2d3;
}

.ui-progressbar {
  position: relative;
}

.progress-label {
  position: absolute;
  left: 50%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

ol { 
  list-style-type: decimal; 
  list-style-position: inside; 
}

#login-content-container {
  margin-top: -100px;
}

#logout-content-container {
  margin-top: 24px;
}

#project-title,
#author-title,
#contact-title {
  text-align: center;
}

.g-d-c,
.g-d-10,
.g-centered {
  width: 450px;
}

body.grp-login .grp-module-login h1 span.grp-admin-title {
  padding: 5px 10px 28px 7px;
}

.grp-admin-title {
  text-align: -webkit-center;
}

#login-submit-btn {
  height: 34px;
  width: 70px;
}

#list-guide {
  margin-right: 570px;
}

#change-guide {
  margin-right: 800px;
}

#add-guide {
  margin-right: 920px;
}

#ob-title {
  text-align: center;
  margin-top: -55px;
  padding-bottom: 10px;
}

#batch-delete-title {
  float: left;
  margin-top: 5px;
  margin-left: -5px;
  font-size: 15px;
  background: linear-gradient(#ffffff,#B8B8B8);
  color: #309bbf;
  font-weight: bold;
}

#batch-delete-option {
  margin-left: 10px;
}

.ui-tooltip {
  background: yellow;
  border-radius: 10px;
}

#return {
  height: 28px;
  width: 63px;
}
